ngb-carousel {
    display: block;
    outline: none;
    border : 1px solid gray;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
md-button-toggle{
    border:0.5px solid gray;
    /* border:none; */
}
.mat-button-toggle-checked {
    background-color: #ede7f6 ;
    color: rgba(0,0,0,.54);
    border-bottom: 2px solid #3A2748;
    border-right:none;
    border-top:none;
    border-left:none;
    transition: .2s;
}

.card{
    border : none;
}
.card-cart{
    padding-top:10em !important;
}


@media(min-width:350px) and (max-width:750px){
    .card-cart{
        padding-top:1em !important;
    } 
}