<div *ngIf="product?.title" class="card">
  <div class="row">
    <div class="col-md-8">
      <ngb-carousel>
        <ng-template ngbSlide>
          <img class="card-img-top" [src]="product?.imageURL" alt="">
          <div class="carousel-caption">
            <!-- <p>Front</p> -->
          </div>

        </ng-template>
        <ng-template ngbSlide>
          <img class="card-img-top" [src]="product?.backImageURL" alt="">
          <div class="carousel-caption">
            <!-- <p>Back</p> -->
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="col-md-4 text-center card-cart">
      <h4 style="font-size:11pt; font-weight:bold;">{{product?.title}}</h4>
      <p class="card-text" style="font-size:16pt; color:#827717;">{{product?.price | currency:'NGN':true}}</p>
      <div *ngIf="product?.isSoldOut === false; else soldOut">
        <div>
          <p>Available Sizes in UK format:</p>
          <div *ngIf="!group.value" class="alert alert-dark" role="alert" style="font-size:9pt">
            Please click to select your prefered size.
          </div>
          <mat-button-toggle-group (change)="toggleSize(group.value)" [(ngModel)]="size" selected #group="matButtonToggleGroup">
            <mat-button-toggle value="{{i}}" [checked]="group.value === 8" *ngFor="let i of product.availableSizes">
              {{i}}
            </mat-button-toggle>


          </mat-button-toggle-group>
          <div class="example-selected-value">

            <div *ngIf="group.value" style="padding-top:1em;">
              {{toggleState}}

              <span *ngFor="let size of sizeInInches" style="display: block">
                       Size in Inches<br>
                         <b>UK-</b>{{size.UK}} <b>US-</b>{{size.US}} <b>EUR-</b>{{size.EUR}}
                         <b>Bust: </b>{{size.burst}}  <b>Waist: </b>{{size.waist}} <b>hips: </b>{{size.hips}}
                    </span><br>

              <span *ngFor="let size of sizeInCm">
                        Size in Centimeters(cm)<br>
                       
                         <b>UK-</b>{{size.UK}} <b>US-</b>{{size.US}} <b>EUR-</b>{{size.EUR}}
                         <b>Bust: </b>{{size.burst}}  <b>Waist: </b>{{size.waist}} <b>hips: </b>{{size.hips}}
                    </span>
            </div>
           
          </div>
        </div>
        <br>
        <div *ngIf="showActions && shoppingCart && group.value">
          <button *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity" (click)="addToCart()" class="btn btn-primary col">Add to cart</button>
        </div>


        <div class="product-share">
          <div class="social-bar">
            <!-- <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                    <i class="socicon-facebook"></i>
                  </a> -->
            <!-- <a href="#" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                    <i class="socicon-twitter"></i>
                  </a> -->
            <a href="https://www.instagram.com/pheyi_afrocosmo/" class="sb-instagram" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
                    <i class="socicon-instagram"></i>
                  </a>
          </div>
          <ng-template #updateQuantity>
            <product-quantity [product]="product" [shopping-cart]="shoppingCart" [size]="group.value"></product-quantity>
          </ng-template>
        </div>

      </div>
      <ng-template #soldOut>
        <h2 style="color:red">Sold out</h2>
        <form #f="ngForm" class="form-inline" (ngSubmit)="savePhone(f.value)">
         
          <div class="form-group col">
            <label for="phone" class="col">We can notify you when this dress is available. <br><br> Enter your phone number</label>
            <input name="phone" type="text" ngModel #phone="ngModel" class="form-control col" id="phone" placeholder="+234XXXXXXXXXX">
          </div>
          <div class="form-group col">
          <button type="submit" class="btn btn-sm btn-info col">Notify me when available</button>
          
          </div>
        </form>
      </ng-template>
    </div>

    <div class="card-body" *ngIf="product?.title">

    </div>
  </div>