<section class="footer">
  <div class="row">
    <div class="col-lg-4">
      <h2>We have agents on</h2>
      <span class="social-bar" style="margin:auto">
            <a href="https://t.me/pheyi_bot" target="_blank" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Telegram Bot">
                <i class="socicon-telegram"></i>
              </a>
           
            <a href="https://join.skype.com/bot/5358f69a-cbb7-4f40-a249-3ebaf811275c" target="_blank" class="sb-instagram" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype Bot">
                <i class="socicon-skype"></i>
              </a>
          </span>
      <div>
        <img src="./assets/white_logo_transparent@2x.png" style="width:150px; height:auto;" alt="">
      </div>

    </div>
    <div class="col-lg-4" style="padding-right:1em;">
      <h2>Subscribe</h2>
      <p>
        Get Exclusive early access to new arrivals
      </p>
      <p>
        <input type="text" class="form-control" placeholder="Enter your email address please">
        <button class="btn btn-primary">Subscribe</button>
        <span class="social-bar" style="float:right; padding-top:1.5em;">
            <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                <i class="socicon-facebook"></i>
              </a>
            <a href="#" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                <i class="socicon-twitter"></i>
              </a>
            <a href="#" class="sb-instagram" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
                <i class="socicon-instagram"></i>
              </a>
          </span>
      </p>

    </div>
    <div class="col-lg-2">
      <h3>Customer Service</h3>
      <ul>
        <li><a href="#">Help & Contact Us</a></li>
        <li><a href="#">Orders & Shipping</a></li>
        <li><a href="#">Returns & Refunds</a></li>
        <li><a href="#">Click & Collect</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Privacy & Cookie Policy</a></li>
      </ul>
    </div>
    <div class="col-lg-2">
      <h3>About Us</h3>
      <ul style="padding-top:2em;">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Affiliate Program</a></li>
        <li><a href="#">Reviews</a></li>
        <li><a href="#">Sitemap</a></li>
      </ul>
    </div>
  </div>
  <p style="color:gray; font-size:9pt;">
    (c) 2017 Pheyi Nigeria Limited. All rights reserved
  </p>

</section>