<section id="item-view">

<h2 style="padding-left:1.5em;">
   items in store
  <button style="float:right" class="btn btn-primary add-item">+ add new item</button>
</h2><br>
<!--a list of all items-->
 <!-- Team -->
      <!--<h5 class="text-uppercase text-gray text-thin space-bottom">Items</h5>-->
      <div class="row padding-top">
        <!-- Teammate -->
        <!--<span *ngIf="items"><i>you have no items in store</i></span>-->
        <div *ngFor="let item of items | async" class="col-xs-12 col-md-6 col-lg-6">
          <div class="teammate">
            <div class="teammate-thumb">
              <div class="social-bar text-center space-bottom">
                <a href="#" class="sb-skype" data-toggle="tooltip" data-placement="top" title="Skype">
                  <i class="socicon-skype"></i>
                </a>
                <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                  <i class="socicon-facebook"></i>
                </a>
                <a href="#" class="sb-google-plus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google+">
                  <i class="socicon-googleplus"></i>
                </a>
              </div><!-- .social-bar -->
              <img src="https://firebasestorage.googleapis.com/v0/b/pheyi-161501.appspot.com/o/img%2F10.jpg?alt=media&token=ca18f291-ec3f-4189-9962-bff1ab3c41cf" alt="Teammate">
            </div>
            <h4 class="teammate-name">Adire designed dress for evening</h4>
            <span class="teammate-position">
              <blockquote>
                    <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem.</p>
                   <!--<cite>James Cameron</cite>-->
              </blockquote>
             
              </span>
              <h4 class="teammate-name">#25,000</h4>
               <p style="text-align:center">
               <i style="text-align:center">25Pcs in stock</i><br>
                 
                  <button class="btn btn-default">
                    <i class="ion ion-edit"></i>
                  </button>
                  <button class="btn btn-primary">
                    <i class="ion ion-close"></i>
                  </button>
               </p>

          </div><!-- .teammate -->
        </div><!-- .col-xs-6.col-md-3 -->
       
      </div>

<!--Show list is empty if no item-->
<!-- Large modal -->

<!--dialog to add new item-->

</section>
