<!-- Account (Login) -->
<div class="login-section-plain animated fadeInDown" id="account">
    <div class="inner">
        <h3 id="login-title" class="toolbar-title space-bottom">
            {{loggedInStatus}}
        </h3>
        <span *ngIf="!loginError">{{loginErrorMessage}}</span>
        <form *ngIf="!isLoggedIn" id="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
            <h3 id="login-title" class="toolbar-title space-bottom">
                Sign in to start shopping.
            </h3>
            <p id="login-message"></p>
            <span class="help-block" *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">
              Please enter a valid username
            </span>
            <input type="text" id="Email" formControlName="username" placeholder="Preferred username/email" class="form-control" required
            />

            <span class="help-block" *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
                  You need to enter a valid password
                </span>
            <input type="password" formControlName="password" class="form-control" placeholder="Password" required id="Password">

            <div class="form-footer">
                <div class="rememberme">
                    <label class="checkbox">
                         <input type="checkbox" formControlName="rememberMe"
                         checked name="RememberMe">
                          Remember me
                    </label>
                </div>
                <div class="form-submit">
                    <button [disabled]="!loginForm.valid" id="login-submit" type="submit" class="btn btn-primary btn-block
                              waves-effect waves-light">
                      {{ loginState }}
                    </button>
                </div>
            </div>
        </form>
        <!-- .login-form -->

        <p class="text-sm space-top" style="text-align:center">
            Don’t have an account?
            <a href="/register" class="toggle-section">
                  Signup here
                </a>
        </p>
        <h3 id="login-title" class="toolbar-title space-bottom" style="text-align:center">OR</h3>

        <button (click)="loginWithGoogle()" value="" class="btn google-btn">
                       <img style="width:40px; height:auto" src="../assets/google.jpg" alt="">
                     <span >Continue with google</span>
              </button>


    </div>
    <!-- .inner -->
</div>
<!-- .toolbar-section#account -->