<div class="shopping-cart animated fadeIn">
    <div *ngIf="!hasCompleteAdding">
        <!-- Item -->
        <div *ngFor="let item of cartItems | async" class="item">
            <a href="shop-single.html" class="item-thumb">
                <img src="{{item.imageURL}}" alt="Item">
            </a>
            <div class="item-details">
                <h3 class="item-title"><a href="shop-single.html">{{item.name}}</a></h3>
                <h4 class="item-price">₦{{item.price | number}}</h4>
                <div class="count-input">
                    <input class="quantity" type="number" value="{{item.quantity}}">
                </div>
            </div>
            <a class="item-remove" data-toggle="tooltip" data-placement="top" title="Remove" (click)="removeItemFromCart(item.$key)">
                <i class="ion ion-ios-close-empty"></i>
            </a>
        </div>
        <!-- .item -->

        <!-- Subtotal -->
        <div *ngIf="isLoggedIn" class="cart-subtotal space-bottom">
            <div class="column">
                <h3 class="toolbar-title">Subtotal:</h3>
            </div>
            <div class="column">
                <h3 class="amount">₦{{ subtotal | number}}</h3>
            </div>
        </div>
        <!-- .subtotal -->
    </div>

    <div *ngIf="hasShippingAddress">
        <form class="checkout-form container" [formGroup]="shippingForm" (ngSubmit)="checkoutWithoutShipping()">
            <div class="cart-subtotal space-bottom">
                <div class="column">
                    <h3 class="toolbar-title">Checkout</h3>
                </div>
                <div class="column">
                    <h3 class="amount">₦{{ subtotal | number}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <span class="help-block" *ngIf="shippingForm.get('firstname').invalid && shippingForm.get('firstname').touched">
                        first name is required
                     </span>
                    <input formControlName="firstname" class="form-control" name="co_f_name" placeholder="First name" required="" type="text">

                </div>
                <div class="col-sm-6">
                    <span class="help-block" *ngIf="shippingForm.get('lastname').invalid && shippingForm.get('lastname').touched">
                        lastname is required
                     </span>
                    <input formControlName="lastname" class="form-control" name="co_l_name" placeholder="Last name" required="" type="text">

                </div>
            </div>
            <span class="help-block" *ngIf="shippingForm.get('phone').invalid && shippingForm.get('phone').touched">
                        phone is required
                     </span>
            <input formControlName="phone" class="form-control" name="co_phone" placeholder="Phone" required="" type="tel">

            <span class="help-block" *ngIf="shippingForm.get('address').invalid && shippingForm.get('address').touched">
                        address is required
                     </span>
            <input formControlName="address" class="form-control" name="co_company" placeholder="Shipping address" type="text">

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-element form-select">
                        <span class="help-block" *ngIf="shippingForm.get('country').invalid && shippingForm.get('country').touched">
                        country is required
                     </span>
                        <select class="form-control" formControlName="country">
                             <option  [selected]="true" [disabled]="true">Country</option>
                             <option *ngFor="let country of countries"   value="{{country?.name}}" >{{country?.name}}</option>                    
                        </select>

                    </div>

                </div>
                <div class="col-sm-6">
                    <span class="help-block" *ngIf="shippingForm.get('city').invalid && shippingForm.get('city').touched">
                        city is required
                     </span>
                    <input formControlName="city" class="form-control" name="city" placeholder="City" required="" type="text">

                    <!-- <input formControlName = "email" type="hidden"  name="email"> -->
                    <!-- <input formControlName = "uid" type="hidden"  name="uid"> -->
                </div>
            </div>
            <div class="text-left">
                <a (click)="backToCart()" class="btn btn-default btn-ghost icon-left toggle-section" href="#cart">
                    <i class="material-icons arrow_back"></i> Back To Cart
                </a>
                <button class="btn btn-primary waves-effect waves-light" [disabled]="!shippingForm.valid" type="submit">Checkout</button>
            </div>
        </form>
    </div>

    <div *ngIf="!isLoggedIn">
        <a routerLink="/login" class="btn btn-primary">Sign in to start shopping</a>
    </div>

    <!-- Buttons -->
    <div *ngIf="!hasCompleteAdding && isLoggedIn" class="text-right">
        <button class="btn btn-default btn-ghost close-dropdown">Continue Shopping</button>
        <button (click)="checkout()" class="btn btn-primary waves-effect waves-light ">Proceed to Checkout</button>
    </div>

    <!--Busy Icon-->
    <div *ngIf="isPayingError" style="text-align:center">
        <h3>Opps! Payment Error!</h3>
        <h4> {{paymentError}} </h4>
        <a href="/" class="btn btn-primary">Go Back to Store</a>
    </div>
    <app-payment-spinner *ngIf="isPaying"></app-payment-spinner>
</div>
<!-- .shopping-cart -->