<div class="shopping-cart animated fadeIn">
    <h1>Shopping Cart</h1>
    <div *ngIf="cart$ | async as cart">
        <p>
            You have {{ cart.totalItemsCount }} items in your shopping cart.
            <button *ngIf="cart.items.length" (click)="clearCart()" class="btn btn-secondary btn-sm">clear shopping cart</button>
        
        </p><hr>
  
        <div class="shopping-cart">
             
                <div class="item card" *ngFor="let item of cart.items">
                
                  <div class="thumbnail" [style.backgroundImage]="'url('+ item.imageURL +')'" ></div>
                  <div class="item-details">
                    <h3 class="item-title">{{ item.title }}</h3>
                    <h4 class="item-price">{{ item.totalPrice | currency : 'NGN' : true}}</h4>
                    <div class="col-6">
                        <product-quantity [product]="item" [shopping-cart]="cart" [size]="item.selectedSize"></product-quantity>
                    </div>
                  </div>
    
                </div>
                <div class="cart-subtotal">               
                  <div class="column">
                    <h3 class="amount">{{cart.totalPrice | currency: 'NGN' : true}}</h3>
                  </div>
                </div>
              
              </div>
       
        <a (click)="toggleMenu('cart')" routerLink="/check-out" *ngIf="cart.items.length" class="btn btn-primary">Checkout</a>
    </div>

</div>