<section style="height:150vh; padding-top:12%; padding-left:10%; padding-right:20%; padding-bottom:20%"> 
        <div class="row">
          <div class="col-md-6">

            <form #f="ngForm" (ngSubmit)="save(f.value)"> 
              <h3>+ New Product</h3>
                <span class="help-block" *ngIf="!title.valid && title.touched">
                  Please enter the name of this dress
                </span> 
              <input #title="ngModel" [(ngModel)]="product.title" name="title"  type="text" class="form-control" placeholder="Name of dress e.g. Drapped gown for evening" required>
              
              <select [(ngModel)]="product.category" name="category" class="form-control">
                <option selected disabled>Select Categories</option>
                <option *ngFor="let c of categories$ | async" [value]="c.$key">{{c.name}}</option>
              </select>

              <span class="help-block" *ngIf="!imageUrl.valid && imageUrl.touched">
                  Please enter a valid URL of format 'https://...'
                </span> 
              <input #imageUrl="ngModel" [(ngModel)]="product.imageURL" name="imageURL"  type="url" class="form-control" placeholder="Main Image URL" required>
              <span class="help-block" *ngIf="!sideImageUrl.valid && sideImageUrl.touched">
                  Please enter a valid URL of format 'https://...'
                </span> 
              <input #sideImageUrl="ngModel" [(ngModel)]="product.sideImageURL" name="sideImageURL"  type="url" class="form-control" placeholder="Side Image URL" required>
              
              <span class="help-block" *ngIf="!backImageUrl.valid && backImageUrl.touched">
                  Please enter a valid URL of format 'https://...'
                </span> 
              <input #backImageUrl="ngModel" [(ngModel)]="product.backImageURL" name="backImageURL"  type="url" class="form-control" placeholder="Back Image URL" required>
              
              
              <span class="help-block" *ngIf="!description.valid && description.touched">
                  describe this dress please
                </span> 
              <textarea #description="ngModel" [(ngModel)]="product.description" name="description" cols="30" rows="10" class="form-control" placeholder="Enter description here.." required></textarea>
              
              <span class="help-block" *ngIf="!price.valid && price.touched">
                  please enter price of dress in Naira
                </span> 
              <input #price="ngModel" [(ngModel)]="product.price" name="price" type="number" class="form-control" placeholder="price of dress in [NGN]" required>

              <span class="help-block" *ngIf="!quantityInStock.valid && quantityInStock.touched">
                  enter quantity you are adding to store please
                </span> 
              <input #quantityInStock="ngModel" [(ngModel)]="product.quantityInStock" name="quantityInStock"  type="number" class="form-control" placeholder="Quantity in stock" required>
            
              <input [(ngModel)]="product.isBestSeller" name="isBestSeller" type="checkbox"> add this dress to best sellers<br><br>
              <input [(ngModel)]="product.isNewArrival" name="isNewArrival" type="checkbox"> add this dress to new arrivals<br><br> 

            
              <button type="submit"  class="btn btn-primary">save</button>
              <button type="button" (click)="delete()"  class="btn btn-danger">Delete</button>
            </form>
          
          </div>
          <div class="col-md-6" style="padding-left:10%">
             <!-- <h3>Preview</h3> -->
            <div *ngIf="product.title" class="card" style="width: 50rem; padding:2rem;">
              <img class="card-img-top" [src]="product.imageURL" style="width:100%" *ngIf="product.imageURL">
              <div class="container">
                <h4 class="card-title">{{product.title}}</h4>
                <p class="card-text"><b>Product Category: </b>{{product.category}}</p>                
                <p class="card-text">{{product.price | currency:'NGN':true}}</p>
              </div>
            </div>
          </div>
        </div>
  
</section>


