<section class="main-section">

  <h2>Shipping</h2>
  <div class="row" *ngIf="cart$ | async as cart">
    <div class="col-lg-6 col-md-12">
      <shipping-form *ngIf="!userShipping; else showShipping" [cart]="cart"></shipping-form>
      <ng-template #showShipping>
          <p>
            <b>Default shipping details: </b>   
          </p>
          <div class="default-shipping">
              <p>
                 {{ userShipping?.name }}<br>
                 {{ userShipping?.address }}<br>
                 {{ userShipping?.city }}
              </p>
              <button *ngIf="!showChangeAddress" (click)="changeAddress()" class="btn btn-secondary btn-sm">change shipping address</button>
              <button *ngIf="showChangeAddress" (click)="cancelChangeAddress()" class="btn btn-secondary btn-sm float-right">X</button>
              <update-shipping-form *ngIf="showChangeAddress" ></update-shipping-form> 
          </div>
          <button 
          (click)="placeOrder()"
          class="btn btn-primary col">Pay & Place order</button>      
        </ng-template> 
    </div>
    
    <div class="col-lg-6 col-md-12" style="padding-top:3em;">
      <shopping-cart-summary [cart]="cart" ></shopping-cart-summary>
    </div>
  </div>

<section>