 <div id='snav' class='en'>
    <ul>
      <li>
        <a href='/admin' >
        <i class="fa fa-sticky-note-o"></i>
        <span>Items</span>
      </a>
      </li>

      <li>
        <a href='/cartegories' >
        <i class="fa fa-object-group"></i>
        <span>Cartegories</span>
      </a>
      </li>

      <li>
        <a href='#'>
        <i class="fa fa-truck"></i>
        <span>Orders</span>
      </a>
      </li>

      <li>
        <a href='#'>
        <i class="fa fa-circle-o-notch"></i>
        <span>Sales</span>
      </a>
      </li>      
    </ul>

  </div>