<!-- Hero Slider -->
<section class="hero-slider" data-loop="true" data-autoplay="true" data-interval="7000">
    <div class="inner">
        <div class="slide slide-1">
            <div class="container">
                <div class="absolute from-top call-to-action-1">
                        
                    <span class="h1 text-center call-to-action-text-1">
                            <span style="display:block; font-size:15pt;">#SuperWoman</span><br>
                            
                        Our Super Woman<br>Pieces 2017<br><br>
                        <a routerLink="/store" class="btn btn-primary btn-with-icon-right waves-effect waves-light space-top-none">
                            Shop Now
                         </a>
                    </span>
                </div>
                <div class="absolute text-right from-bottom slide-1-price">
                    <span style="color:white !important;" class="h2">
                        <span style="display:block" class="text-thin">Starting At</span>
                    <strong>₦16,860.00</strong>
                    </span><br>
                </div>
            </div>
        </div>

        <!-- .slide -->
        <div class="slide slide-2">
            <div class="container absolute text-center padding-top-3x call-to-action-2">
                <span class="h1 from-bottom text-center hidden-xs">#SuperWoman</span>
                <span class="h2 text-center from-bottom">
                    <span class="text-thin">Special offer: <strong> 25%</strong></span>
                    <span class="text-thin">Discount</span>
                </span>
                <div class=" text-center from-bottom">
                    <a routerLink="/store" class="text-left btn btn-primary btn-with-icon-right waves-effect waves-light scale-up">
                        Shop Now
                        <!-- <i class="ion ion-chevron-right"></i> -->
                    </a>
                </div>
            </div>
        </div>
        <!-- .slide -->
    </div>
    <!-- .inner -->
</section>