 <!-- Review -->
      <div class="review">
        <div class="review-author-ava">
          <img src="img/shop/reviews/01.jpg" alt="Review Author">
        </div>
        <div class="review-body">
          <div class="review-meta">
            <div class="column">
              <h4 class="review-title">Very stylish. Great Deal!</h4>
            </div>
            <div class="column">
              <span class="product-rating text-warning">
                    <i class="material-icons star"></i>
                    <i class="material-icons star"></i>
                    <i class="material-icons star"></i>
                    <i class="material-icons star"></i>
                    <i class="material-icons star"></i>
                  </span>
            </div>
          </div>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
          <cite>Jessie James</cite>
        </div>
      </div>
      <!-- .review -->
      <!-- Review -->
      <div class="review">
        <div class="review-author-ava">
          <img src="img/shop/reviews/02.jpg" alt="Review Author">
        </div>
        <div class="review-body">
          <div class="review-meta">
            <div class="column">
              <h4 class="review-title">Nice nordic design, afordable price.</h4>
            </div>
            <div class="column">
              <span class="product-rating text-warning">
                    <i class="material-icons star"></i>
                    <i class="material-icons star"></i>
                    <i class="material-icons star"></i>
                    <i class="material-icons star"></i>
                    <i class="material-icons star_border"></i>
                  </span>
            </div>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae sequi ipsa fugit officia eos! Sapiente laboriosam
            molestiae praesentium ducimus culpa. Magnam, odit, optio. Possimus similique eligendi explicabo, dolore, beatae
            sequi.</p>
          <cite>Susanna Davis</cite>
        </div>
      </div>
      <!-- .review -->
      <!-- Review -->
      <div class="review">
        <div class="review-author-ava">
          <img src="img/shop/reviews/03.jpg" alt="Review Author">
        </div>
        <div class="review-body">
          <div class="review-meta">
            <div class="column">
              <h4 class="review-title">Godd value for your money.</h4>
            </div>
            <div class="column">
              <span class="product-rating text-warning">
                    <i class="material-icons star"></i>
                    <i class="material-icons star"></i>
                    <i class="material-icons star"></i>
                    <i class="material-icons star"></i>
                    <i class="material-icons star_border"></i>
                  </span>
            </div>
          </div>
          <p>Anuo ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
          <cite>Donald Murphy</cite>
        </div>
      </div>
      <!-- .review -->
      <!-- Reviview Form -->
      <h4 class="padding-top">Leave a review</h4>
      <form #addReviewForm (ngSubmit)="addReview()" class="row padding-top">
        <div class="col-sm-4">
          <div class="form-element">
            <input  type="text" class="form-control" placeholder="Name*" required>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-element">
            <input  type="email" class="form-control" placeholder="Email*" required>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-element form-select">
            <select  class="form-control">
                  <option>5 stars</option>
                  <option>4 stars</option>
                  <option>3 stars</option>
                  <option>2 stars</option>
                  <option>1 star</option>
                </select>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-element">
            <textarea rows="8" class="form-control" placeholder="Review*" required></textarea>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-lg-offset-9 col-md-offset-8 col-sm-offset-6">
              <button [disabled]="!addReviewForm.valid" type="submit" class="btn btn-block btn-primary waves-effect waves-light space-top-none space-bottom-none">Leave Review</button>
            </div>
          </div>
        </div>
      </form>
    