 <!-- Review -->
      <div class="review" *ngFor="let review of reviews | async">
        <div class="review-author-ava">
          <img src="img/shop/reviews/01.jpg" alt="Review Author">
        </div>
        <div class="review-body">
          <div class="review-meta">
            <div class="column">
              <h4 class="review-title">{{review.title}}</h4>
            </div>
            <div class="column">
              <span class="product-rating text-warning">
                    <i class="material-icons star"></i>
                    <i class="material-icons star"></i>
                    <i class="material-icons star"></i>
                    <i class="material-icons star"></i>
                    <i class="material-icons star"></i>
                  </span>
            </div>
          </div>
          <p>{{review.reviews}}</p>
          <cite>{{review.name}}</cite>
        </div>
      </div>
     
      <!-- Reviview Form -->
      <h4 class="padding-top">Leave a review</h4>
      <form [formGroup] = "reviewsForm" (ngSubmit)="addReview()" class="row padding-top">
        <div class="col-sm-4">
          <div class="form-element">
            <input formControlName="name"  type="text" class="form-control" placeholder="Name*" required>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-element">
            <input formControlName="email"  type="email" class="form-control" placeholder="Email*" required>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-element form-select">
            <select formControlName="rating"  class="form-control">
                  <option value="" disabled selected>Select rating</option>
                  <option>5 stars</option>
                  <option>4 stars</option>
                  <option>3 stars</option>
                  <option>2 stars</option>
                  <option>1 star</option>
                </select>
          </div>
        </div>
         <div class="col-sm-12">
          <div class="form-element">
            <input formControlName="title"  type="text" class="form-control" placeholder="Title*" required>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-element">
            <textarea formControlName="reviews" rows="8" class="form-control" placeholder="Review*" required></textarea>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-lg-offset-9 col-md-offset-8 col-sm-offset-6">
              <button [disabled]="!reviewsForm.valid" type="submit" class="btn btn-block btn-primary waves-effect waves-light space-top-none space-bottom-none">Leave Review</button>
            </div>
          </div>
        </div>
      </form>
    