<!-- Pager + Product Gallery -->
<app-loading-spinner *ngIf="showSpinner" [showLoading]=true></app-loading-spinner>

<section class="fw-section" style="padding-top:7em;">
  <div  class="container padding-top">

    <!-- Product Gallery -->
    <div class="product-gallery animated fadeIn">
      <!-- Preview -->
      <ul  class="product-gallery-preview card">
        <li id="preview01"><img src="{{item?.imageURL}}" alt="Product"></li>
        <li id="preview02" class="current"><img src="{{item?.imageURL}}"></li>
        <li id="preview03"><img src="{{item?.imageURL}}" alt="Product"></li>
      </ul>

      <div *ngIf="showContent" class="product-info padding-top-2x text-center">
        <h1 class="h2 space-bottom-half">{{item?.title}}</h1>
        <h2>₦{{item?.price | number}}</h2>
        <div  class="product-meta">
          <div class="product-category">
              <strong>Category: </strong>
              <a href="#">Ankara Drapes</a><br>
              <!--TODO : Notify me form when this dress is available-->
              <div *ngIf="isSoldOut" >
                 <h3 style="color:red"> Sold Out</h3>
                <form>
                  <p>Notify me when this item is available.</p>
                  <input class="form-control" type="email" placeholder="Enter your email address">
                  <button class ="btn btn-primary" style="width:100%">Notify me</button>
                </form>
               </div>

            </div>
          <div>
            {{toggleState}}

            <span *ngFor="let size of sizeInInches" style="display: block">
               Size in Inches<br>
                 <b>UK-</b>{{size.UK}} <b>US-</b>{{size.US}} <b>EUR-</b>{{size.EUR}}
                 <b>Burst: </b>{{size.burst}}  <b>Waist: </b>{{size.waist}} <b>hips: </b>{{size.hips}}
            </span><br>

            <span  *ngFor="let size of sizeInCm">
                Size in Centimeters(cm)<br>
               
                 <b>UK-</b>{{size.UK}} <b>US-</b>{{size.US}} <b>EUR-</b>{{size.EUR}}
                 <b>Burst: </b>{{size.burst}}  <b>Waist: </b>{{size.waist}} <b>hips: </b>{{size.hips}}
            </span>
          </div>

        </div>
        <form *ngIf="!isSoldOut" #addToCartForm = "ngForm" (ngSubmit)="addItemToCart()"  class="product-tools shop-item">
         
          <div style="margin-left:10%;">
            <select required  ngModel name="selectedSize"  #size="ngModel" (change)="toggleSize(size.value)" class="form-control">
                <option value="" disabled selected>Choose your size</option>
                <option *ngFor="let size of ukSizes" value="{{size.UK}}" >{{size.UK}}</option> 
              </select>
              <span class="help-block" style="color:#795548; display:block" *ngIf="!size.valid">Please select your prefered size.</span>
          
          </div>
          
          <button *ngIf="getQuantity() === 0; else updateQuantity" [disabled]="!addToCartForm.valid" class="add-to-cart btn" style="display:block; width:100%">
              <em>Add to Cart</em>
              <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
  							<path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"></path>
  						</svg>
            </button>
            <ng-template #updateQuantity>
               <product-quantity [product]="item"></product-quantity> 
            </ng-template>
        </form>

        <div class="product-share">
          <!--<span>Share this product: </span>-->
          <div class="social-bar">
            <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                <i class="socicon-facebook"></i>
              </a>
            <a href="#" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                <i class="socicon-twitter"></i>
              </a>
            <a href="#" class="sb-instagram" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
                <i class="socicon-instagram"></i>
              </a>
          </div>
        </div>     
      </div>

      <!-- Thumblist -->
      <ul class="product-gallery-thumblist">
        <li ><a href="#preview01">
              <img class="card" src="{{item?.imageURL}}" >
            </a></li>
        <li class="active"><a href="#preview02">
              <img class="card" src="{{item?.imageURL}}" >
            </a></li>
        <li ><a href="#preview03">
              <img class="card" src="{{item?.imageURL}}">
            </a></li>
      </ul> 
    </div>

  </div>
</section>

<!-- Product Tabs -->
<section *ngIf="showContent" class="container padding-top-2x">
  <!-- Nav Tabs -->
  <ul class="nav-tabs text-center" role="tablist">
    <li class="active"><a href="#description" role="tab" data-toggle="tab">Description</a></li>
    <!--<li><a href="#additional" role="tab" data-toggle="tab">Additional Info</a></li>-->
    <li><a href="#reviews" role="tab" data-toggle="tab">Reviews <sup style="background:#606060; color:white; font-weight:bold; padding:5px;">{{ (reviewList  | async)?.length}}</sup></a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane transition fade in active" id="description">
      <div class="row space-top">
        <!--<div class="col-md-6 space-bottom">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://player.vimeo.com/video/105829213?color=77cde3&amp;title=0&amp;byline=0&amp;portrait=0" allowfullscreen></iframe>
              </div>
            </div>-->
        <div class="col-md-12">
          <p style="text-align:center">{{item?.description}}</p>
          <!--<p>Alias commodi aspernatur quo illo dolor voluptatem animi ipsum laudantium similique blanditiis, molestias facilis vitae harum minima obcaecati corrupti quibusdam minus modi.</p>-->
        </div>
      </div>
    </div>
    <!--<div role="tabpanel" class="tab-pane transition fade" id="additional">
      <div class="row">
        <div class="col-md-6">
          <table class="table-no-border">
            <tr>
              <th>Weight</th>
              <td>2.65 kg</td>
            </tr>
            <tr>
              <th>Dimensions</th>
              <td>120 x 75 x 90 cm</td>
            </tr>
            <tr>
              <th>Materials</th>
              <td>40% wood, 37% cotton, 23% plastic</td>
            </tr>
          </table>
        </div>
        <div class="col-md-6">
          <table class="table-no-border">
            <tr>
              <th>Colors</th>
              <td>Blue, Creme, Orange, Red</td>
            </tr>
            <tr>
              <th>Manufacturer</th>
              <td>Norway</td>
            </tr>
            <tr>
              <th>Other Info</th>
              <td>Repellendus ea laudantium pariatur eum.</td>
            </tr>
          </table>
        </div>
      </div>
    </div>-->
    <div role="tabpanel" class="tab-pane transition fade" id="reviews">
      <app-reviews dressKey="{{item?.$key}}"></app-reviews>
    </div>
  </div>
</section>

<!-- Related Products -->
<section *ngIf="showContent" class="container padding-top padding-bottom">
  <hr>
  <h3 class="padding-top">You May Also Like</h3>
  <div class="row padding-top">
    <div *ngFor="let item of AlsoLike; let i=index" class="col-lg-3 col-sm-6">
      <div class="shop-item">
        <div class="shop-thumbnail">
          <!--<span class="shop-label text-danger">Sale</span>-->
          <a href="/shopping/{{item.$key}}/{{itemTitle[i]}}" class="item-link"></a>
          <img src="{{item.imageURL}}" alt="Shop item">

        </div>
        <div class="shop-item-details">
          <h3 class="shop-item-title"><a href="#">{{item.title}}</a></h3>
          <span class="shop-item-price">
                <!--<span class="old-price">${{item}}</span>--> ₦{{item.price | number}}
          </span>
        </div>
      </div>
    </div>

  </div>
</section>