<!-- Pager + Product Gallery -->
<app-loading-spinner *ngIf="showSpinner" [showLoading]=true></app-loading-spinner>

<section class="fw-section" style="padding-top:7em;">
  <div class="container padding-top row" style="padding-left:15%; padding-right:5%;">
      <div class="col-md-12 col-lg-12">
         <product-card [key]="key" [product]="item"  [shopping-cart]="cart" [show-actions]="true"  ></product-card>  
      </div>
 
  </div>
</section>

<!-- Product Tabs -->
<section *ngIf="showContent" class="container padding-top-2x">
  <!-- Nav Tabs -->
  <ul class="nav-tabs text-center" role="tablist">
    <li class="active"><a href="#description" role="tab" data-toggle="tab">Description</a></li>
    <!--<li><a href="#additional" role="tab" data-toggle="tab">Additional Info</a></li>-->
    <li><a href="#reviews" role="tab" data-toggle="tab">Reviews <sup style="background:#606060; color:white; font-weight:bold; padding:5px;">{{ (reviewList  | async)?.length}}</sup></a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane transition fade in active" id="description">
      <div class="row space-top">
        <!--<div class="col-md-6 space-bottom">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://player.vimeo.com/video/105829213?color=77cde3&amp;title=0&amp;byline=0&amp;portrait=0" allowfullscreen></iframe>
              </div>
            </div>-->
        <div class="col-md-12">
          <p style="text-align:center">{{item?.description}}</p>
          <!--<p>Alias commodi aspernatur quo illo dolor voluptatem animi ipsum laudantium similique blanditiis, molestias facilis vitae harum minima obcaecati corrupti quibusdam minus modi.</p>-->
        </div>
      </div>
    </div>
    <!--<div role="tabpanel" class="tab-pane transition fade" id="additional">
      <div class="row">
        <div class="col-md-6">
          <table class="table-no-border">
            <tr>
              <th>Weight</th>
              <td>2.65 kg</td>
            </tr>
            <tr>
              <th>Dimensions</th>
              <td>120 x 75 x 90 cm</td>
            </tr>
            <tr>
              <th>Materials</th>
              <td>40% wood, 37% cotton, 23% plastic</td>
            </tr>
          </table>
        </div>
        <div class="col-md-6">
          <table class="table-no-border">
            <tr>
              <th>Colors</th>
              <td>Blue, Creme, Orange, Red</td>
            </tr>
            <tr>
              <th>Manufacturer</th>
              <td>Norway</td>
            </tr>
            <tr>
              <th>Other Info</th>
              <td>Repellendus ea laudantium pariatur eum.</td>
            </tr>
          </table>
        </div>
      </div>
    </div>-->
    <div role="tabpanel" class="tab-pane transition fade" id="reviews">
      <app-reviews dressKey="{{item?.$key}}"></app-reviews>
    </div>
  </div>
</section>

<!-- Related Products -->
<section *ngIf="showContent" class="container padding-top padding-bottom">
  <hr>
  <h3 class="padding-top">You May Also Like</h3>
  <div class="row padding-top">
    <div *ngFor="let item of AlsoLike; let i=index" class="col-lg-3 col-sm-6">
      <div class="shop-item">
        <div class="shop-thumbnail">
          <!--<span class="shop-label text-danger">Sale</span>-->
          <a href="/shopping/{{item.$key}}/{{itemTitle[i]}}" class="item-link"></a>
          <img src="{{item.imageURL}}" alt="Shop item">

        </div>
        <div class="shop-item-details">
          <h3 class="shop-item-title"><a href="#">{{item.title}}</a></h3>
          <span class="shop-item-price">
                <!--<span class="old-price">${{item}}</span>--> ₦{{item.price | number}}
          </span>
        </div>
      </div>
    </div>

  </div>
</section>