<div class="login-section-plain animated fadeInDown">
    <div class="inner">

        <form id="sign-up-form">

            <h3 class="toolbar-title space-bottom">Sign up, it's free</h3>
            <p id="sign-up-message"></p>
            <input type="email" id="Email" placeholder="please enter your prefered email address" class="form-control" required />
            <input type="password" Id="Password" placeholder="your password" class="form-control" required />
            <input type="password" Id="ConfirmPassword" placeholder="confirm your password" class="form-control" required />
            <div class="form-submit">
                <button id="sign-up" type="submit" class="btn btn-primary btn-block waves-effect waves-light">Sign up</button>
            </div>
            You already have an account? <a href="~/Account/login" class="toggle-section">login here</a>
        </form>
    </div>
</div>
